.plugin__filelisting {

    .plugin__filelisting_capiton {
        border: 1px solid #ccc;
        margin-bottom: -1px; //fixed border
        span {
            font-weight: bold;
        }
    }

    .plugin__filelisting_filter {
        border: 1px solid #ccc;
    }

    .plugin__filelisting_content {
        max-height: 200px;
        overflow: auto;

        table {
            width: 100%;
            //reset default dokuwiki margin
            margin: 0;

            //make icons cells stable width
            tr td:first-child {
                width: 16px;
                min-width: 16px;
                max-width: 16px;
            }
        }
    }
}